<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment page</title>
</head>

<body>
    <h6>Please wait...</h6>
    <form name="f1" action="/api/v1/paypal/make-payment" method="post">
        <input name="price" type="text" id="price" style="display: none;" />
    </form>
</body>

</html>